<?xml version="1.0" encoding="UTF-8"?>
<!--
Cart Project with MVC
Charles S. Lobe-Manga <charles@lobe-manga.com> 
-->

<phpunit bootstrap="./vendor/autoload.php" 
         colors="true" 
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailures="false"
         syntaxCheck="false" >
    
    <testsuites>  
           
        <testsuite name="Learning PHP-Unit">
            <directory>./tests/</directory>
        </testsuite>
        
    </testsuites>
</phpunit>
