/*
 * Cart Project with MVC
 * Created on : 25.04.2017, 22:02:54
 * Author     : Charles S. Lobe-Manga <charles@lobe-manga.com>
*/
body {
    font-family: 'Comfortaa', cursive;
    padding-top: 50px;
}

.starter-template {
    padding:40px 15px;
}

form {
    width: 400px;
    max-width: 400px;
}
div.single-page {
    margin-top: 20px;
}

.alert {
    width: 400px;
    max-width: 400px;
}

.admin-table-articles {
    font-size: 1.0em;
    margin-top: 40px;
    width: 80%;
}

.admin-table-pages {
    font-size: 1.0em;
    margin-top: 40px;
    width: 600px;
}

.admin-table-users {
    font-size: 1.0em;
    margin-top: 40px;
    width: 60%;
}

td.admin-table-pages {
    text-align: right;
}

td.admin-table-users {
    text-align: left;
}

.navbar-brand
{
    margin-right: 60px;
}

.blog-header {
    background-color: #999999;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.blog-post
{
    margin-top: 20px;
    text-align: justify;
    padding: 5px;
}
