/*
 * Cart Project with MVC
 * Created on : 25.04.2017, 22:02:54
 * Author     : Charles S. Lobe-Manga <charles@lobe-manga.com>
*/
body {
    font-family: 'Comfortaa', cursive;
    padding-top: 50px;
}

span.company  {
   margin-left: 40px;
}

form.w3-container {
    padding-top: 10px;
}

.user-form {
    font-family: "Lato", sans-serif;
    margin-left: 50px;
    margin-top: 50px;
    width: 50%;
}

div.login {
    height: 260px;
}

div.register {
    height: 320px;
}

form.contact {
    font-family: "Lato", sans-serif;
    width: 50%;
}

div.single-page {
    margin-top: 20px;
}

.alert {
    width: 400px;
    max-width: 400px;
}

.admin-table-articles {
    font-size: 1.0em;
    margin-top: 40px;
    width: 80%;
}

.admin-table-pages {
    font-size: 1.0em;
    margin-top: 40px;
    width: 600px;
}

.admin-table-users {
    font-size: 1.0em;
    margin-top: 40px;
    width: 60%;
}

td.admin-table-pages {
    text-align: right;
}

td.admin-table-users {
    text-align: left;
}

.navbar-brand
{
    margin-right: 60px;
}

.blog-header {
    background-color: #999999;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.blog-post
{
    margin-top: 20px;
    text-align: justify;
    padding: 5px;
    background-color: antiquewhite;
    color: #222;
}

div.comment {
    padding: 5px;
    margin-top: 5px; 
    margin-bottom: 15px; 
    width: 100%;
    background-color: mediumorchid;
}

div.row {
    border: 1px solid #DDD;
    margin-top: 10px;
}