{% extends "default.twig" %}

{% block title %}Willkommen{% endblock %}
 
{% block body %}
    {% for article in articles %}

       {{ article.Title }}

    {% endfor %}
{% endblock %}

{% block footer %} <p>Copyright &copy; Charles S. Lobe-Manga</p>{% endblock %}